@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "IRANSansWeb";
    src: url("../fonts/Ff0019/17/IRANSansWeb.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "IRANSansWeb_Black";
    src: url("../fonts/Ff0019/17/IRANSansWeb_Black.ttf") format("truetype");
}
@font-face {
    font-family: "IRANSansWeb_Medium";
    src: url("../fonts/Ff0019/17/IRANSansWeb_Medium.ttf") format("truetype");
}
@font-face {
    font-family: "IRANSansWeb_Bold";
    src: url("../fonts/Ff0019/17/IRANSansWeb_Bold.ttf") format("truetype");
}

